@model PW3OrgTareas.Tarea

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Nueva Tarea</h1>
<br />
<div class="jumbotron">
    <div class="panel-body">
        <div class="col-md-9 col-md-offset-3">
            @using (Html.BeginForm("Crear", "Tarea", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2 labelForm" })
                        </div>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", required = true } })
                            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.LabelFor(model => model.Descripcion, "Descripción", htmlAttributes: new { @class = "control-label col-md-2 labelForm" })
                        </div>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.LabelFor(model => model.EstimadoHoras, "Estimado (hs)", htmlAttributes: new { @class = "control-label col-md-2 labelForm" })
                        </div>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.EstimadoHoras, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.EstimadoHoras, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.LabelFor(model => model.FechaFin, "Fecha de Fin", htmlAttributes: new { @class = "control-label col-md-2 labelForm" })
                        </div>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.FechaFin, new { htmlAttributes = new { @class = "form-control " } })
                            @Html.ValidationMessageFor(model => model.FechaFin, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.LabelFor(model => model.Prioridad, "Prioridad", htmlAttributes: new { @class = "control-label col-md-2 labelForm" })
                        </div>
                        <div class="col-md-10">
                            <select name="Prioridad" id="Prioridad" class="form-control">
                                @foreach (var item in (List<SelectListItem>)ViewBag.ListaPrioridad)
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.LabelFor(model => model.IdCarpeta, "Carpeta", htmlAttributes: new { @class = "control-label col-md-2 labelForm" })
                        </div>
                        <div class="col-md-10">
                            <select name="IdCarpeta" id="IdCarpeta" class="form-control">
                                @foreach (var item in (List<SelectListItem>)ViewBag.CarpetasUsuario)
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Crear" class="btn btn-success btn-block" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>