@model List<PW3OrgTareas.Tarea>
@using PW3OrgTareas.Enums
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mis tareas</h2>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-3">
            Ocultar completadas: <input type="checkbox" onchange="ocultarCompletadas(this)" />
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-3">
            Ocultar NO completadas: <input type="checkbox" onchange="ocultarNoCompletadas(this)" />
        </div>
    </div>
</div>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Fecha de Fin</th>
                <th>Nombre</th>
                <th>Prioridad</th>
                <th>Carpeta</th>
                <th>Estimado (hs)</th>
                <th>Completada</th>
                <th>Detalle</th>
                <th>Completar</th>
            </tr>
        </thead>
        <tbody id="misTareas">
            @foreach (var item in Model)
            {
                bool isComplete = item.Completada == 1;
                <tr data-completada="@isComplete">
                    <td>@(item.FechaFin.HasValue ? item.FechaFin.Value.ToString("dd/MM/yyyy") : string.Empty)</td>
                    <td>@item.Nombre</td>
                    <td>@Enum.GetName(typeof(PrioridadEnum), item.Prioridad)</td>
                    <td><a href="/Tarea/TareasEnCarpeta/@item.IdCarpeta">@item.NombreCarpeta</a></td>      
                    <td>@item.EstimadoHoras</td>
                    <td id="tdComplete_@item.IdTarea">
                        @if (isComplete)
	                    {
		                     @:S&iacute;
	                    }
                        else
                        {
                            @:No
                        }
                    </td>
                    <td><a href="/Tarea/Detalle/@item.IdTarea" title="Ver Detalle"><i class="fa fa-tasks"></i></a></td>
                    <td><input type="checkbox" id="chkCompletar" disabled="@isComplete" checked="@isComplete" onchange="completarTarea(this, @item.IdTarea)" /></td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script type="text/javascript" src="~/Scripts/Site.js"></script>