<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TOTEN</title>
    <link rel="icon" href="~/img/ico/iconoToten.ico">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*<link href="../Content/layout.css" rel="stylesheet" type="text/css">*@
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Toten", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Carpetas<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Carpeta/Index">Mis Carpetas</a></li>
                            <li><a href="/Carpeta/Crear">Crear Carpetas</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Tareas<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Tarea/Index">Mis Tareas</a></li>
                            <li><a href="/Tarea/Crear">Crear Tareas</a></li>
                        </ul>
                    </li>
                </ul>

                <div class="logoToten">
                    <a href="/Home/Index">
                        <img src="~/img/logo/totenLogo.png" class="logoToten" />
                    </a>
                </div>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/Home/Registro"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="/Home/Login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    <li><a href="/Home/Logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Toten - Bareiro, Casta&ntilde;er Vivas, Mart&iacute;nez, D'Ortona.</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
