@model List<Tarea>
@using PW3OrgTareas.Enums
@{ Usuario user = Session["Usuario"] as Usuario; }

@if (user != null)
{
    <h2>Hola, @user.Nombre. Bienvenido/a a ¡Toten!</h2>
}
else
{
    <h2>Bienvenido/a a ¡Toten!</h2>
}

<div class="container">
    <div class="row">
        <div class="col-12 col-md-2 menuCarpetas">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Tus Carpetas</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(Carpeta item in ViewBag.CarpetasUsuario)
                        {
                            <tr>
                                <td><a href="/Tarea/TareasEnCarpeta/@item.IdCarpeta">@item.Nombre</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-12 col-md-10">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Fecha de Fin</th>
                            <th>Nombre</th>
                            <th>Prioridad</th>
                            <th>Carpeta</th>
                            <th>Estimado (hs)</th>
                            <th>Completada</th>
                            <th>Detalle</th>
                            <th>Completar</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@(item.FechaFin.HasValue ? item.FechaFin.Value.ToString("dd/MM/yyyy") : string.Empty)</td>
                                <td>@item.Nombre</td>
                                <td>@Enum.GetName(typeof(PrioridadEnum), item.Prioridad)</td>
                                <td>@item.NombreCarpeta</td>      
                                <td>@item.EstimadoHoras</td>
                                <td>@item.Completada</td>
                                <td><a href="/Tarea/Detalle" title="Ver Detalle"><i class="fa fa-tasks"></i></a></td>
                                <td><input type="checkbox" id="chkCompletar" /></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>