@model PW3OrgTareas.Usuario

@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<h1>Registro</h1>
<br />
<p>Por favor, complet&aacute; este formulario para crear tu cuenta.</p>
<div class="jumbotron">
    <div class="panel-body">
        <div class="col-md-9 col-md-offset-3">
            @using (Html.BeginForm("Registro", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", required = true, maxlength = "50" } })
                        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Apellido, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Apellido, new { htmlAttributes = new { @class = "form-control", required = true, maxlength = "50" } })
                        @Html.ValidationMessageFor(model => model.Apellido, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", required = true, maxlength = "200", pattern = "[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}", placeholder = "miEmail@email.com" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                    <div>@ViewBag.MensajeEmailExistente</div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control", required = true, maxlength = "50" })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.RepetirPassword, "Repetir Password", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.PasswordFor(model => model.RepetirPassword, new { @class = "form-control", required = true, maxlength = "50" })
                        @Html.ValidationMessageFor(model => model.RepetirPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-1">
                        <div class="g-recaptcha" data-sitekey="6Ld3NWAUAAAAAFvtenZZAv-cIAdwS3aOUaUR33zh"></div>
                        <span class="text-danger">@ViewBag.Message</span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Crear" class="btn btn-success btn-block" />
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>
<div class="container signin">
    <p>¿Ya ten&eacute;s una cuenta? <a href="/Home/Login">¡Logueate!</a>.</p>
</div>